<app-header></app-header>
<app-loader *ngIf="isLoading"></app-loader>

<div class="container-auth">
  <div class="container-auth__formulario">

    <div class="logo">
      <img src="../../../assets/image/img/logo-sanpedro.svg" alt="">
    </div>

    <form [formGroup]="frmLogin" (ngSubmit)="validarUsuario()">
      <h3>Ingresa con tu número de DNI</h3>
      <div class="form-group">
        <label for="">DNI:</label>
        <input type="text" formControlName="document">
        <span *ngIf="frmLogin.get('document')?.touched && f['document'].invalid">Digite un documento</span>
      </div>
<!-- [disabled]="frmLogin.invalid" -->
      <div class="form-group">
        <button class="btn font-omnes" type="submit" [disabled]="buttonClicked$">Ingresar</button>
      </div>
    </form>

  </div>

  
  <div class="logo_bottom">
    <img src="../../../assets/image/img/logo_2.svg" alt="">
  </div>
</div>

<app-footer></app-footer>