.container-card{
    height: fit-content;
    background-image: url(../../../assets/image/img/login/background.svg);
    background-size: cover;
    background-position: top center;
    padding-top: 20px;
    padding-bottom: 10px;
    box-sizing: border-box !important;

    @media(max-width: 4000px){
        padding-top: 65px;
    box-sizing: border-box !important;

    }
    @media(max-width: 2000px){
        padding-top: 40px;
        padding-bottom: 30px;
    box-sizing: border-box !important;

    }
    @media(max-width: 600px){
        height: 80vh;
        padding-top: 40px;
    box-sizing: border-box !important;

    }
    &__logo{
        height: 170px;
        padding: 30px 4%;
        box-sizing: border-box;
        text-align: center;
        @media(max-width: 4000px){
            height: 575px;
            padding: 90px 4%;
        }
        @media(max-width: 2600px){
            height: 380px;
            padding: 0px 4%;
            padding-bottom: 0;
        }
        @media(max-width: 1680px){
            height: 210px;
            padding: 10px 4%;
            padding-bottom: 0;
        }
        @media(max-width: 600px){
        display: none !important;

            text-align: center;
            height: 150px;
            padding: 0px 4%;
            margin-bottom: 0px;
            margin-top: 10px;
        }
        img{
            height: 100%;
        }
    }
    .cards{
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: auto;
        margin-top: 20px;
        &.center{
            justify-content: center;
        }
        @media(max-width: 4000px){
            width: 68%;
        }

        @media(max-width: 2600px){
            width: 80%;
        }
        
        @media(max-width: 1680px){
            width: 960px;
        }

        @media(max-width: 1440px){
            width: 1220px;
        }

        @media(max-width: 1300px){
            width: 990px;
        }

        @media(max-width: 1050px){
            width: 850px;
        }

        @media(max-width: 600px){
            width: 100%;
            flex-direction: column;
        }
    }

    .logo_bottom{
        width: 90%;
        margin: 20px auto;
        text-align: right;
        @media (max-width:600px){
            display: none;
        }
        img{
            width: 150px;
            @media(max-width: 4000px){
                width: 250px;
            }
    
            @media(max-width: 2600px){
                width: 250px;
            }
            @media (max-width:600px){
                width: 130px;
            }
        }
    }
    
}