<div class="container-card">
    <app-loader  [message]="'Descargando cartilla...'" *ngIf="isLoading"></app-loader>
    
    <div class="card">
        <div class="card-header">
            <div class="card-header__letter font-omnesBold">B</div>
            <div class="card-header__letter font-omnesBold">I</div>
            <div class="card-header__letter font-omnesBold">N</div>
            <div class="card-header__letter font-omnesBold">G</div>
            <div class="card-header__letter font-omnesBold">O</div>
        </div>
        <div class="card-body">
            <div class="card-body__number font-omno">{{b1}}</div>
            <div class="card-body__number font-omno">{{i1}}</div>
            <div class="card-body__number font-omno">{{n1}}</div>
            <div class="card-body__number font-omno">{{g1}}</div>
            <div class="card-body__number font-omno">{{o1}}</div>

            <div class="card-body__number font-omno">{{b2}}</div>
            <div class="card-body__number font-omno">{{i2}}</div>
            <div class="card-body__number font-omno">{{n2}}</div>
            <div class="card-body__number font-omno">{{g2}}</div>
            <div class="card-body__number font-omno">{{o2}}</div>

            <div class="card-body__number font-omno">{{b3}}</div>
            <div class="card-body__number font-omno">{{i3}}</div>
            <div class="card-body__logo"><img src="../../../../assets/image/img/logo.svg" alt=""></div>
            <div class="card-body__number font-omno">{{g3}}</div>
            <div class="card-body__number font-omno">{{o3}}</div>

            <div class="card-body__number font-omno">{{b4}}</div>
            <div class="card-body__number font-omno">{{i4}}</div>
            <div class="card-body__number font-omno">{{n4}}</div>
            <div class="card-body__number font-omno">{{g4}}</div>
            <div class="card-body__number font-omno">{{o4}}</div>

            <div class="card-body__number font-omno">{{b5}}</div>
            <div class="card-body__number font-omno">{{i5}}</div>
            <div class="card-body__number font-omno">{{n5}}</div>
            <div class="card-body__number font-omno">{{g5}}</div>
            <div class="card-body__number font-omno">{{o5}}</div>

        </div>
    </div>
</div>
<div class="container-action">
    <button class="btn container-action__download" (click)="downloadCard(id)">Descargar cartilla</button>
</div>
