@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');



@font-face {
    font-family: 'Chunkfive';
    src: url('../../assets/fonts/Chunkfive\ Ex.ttf') format('woff2'),
         url('../../assets/fonts/Chunkfive\ Ex.ttf') format('ttf'),
         url('../../assets/fonts/Chunkfive\ Ex.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'toybox';
    src: url('../../assets/fonts/toy/toybox-webfont.woff2') format('woff2'),
         url('../../assets/fonts/toy/ToyBox.ttf') format('ttf'),
         url('../../assets/fonts/toy/toybox-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'omnes';
    src: url('../../assets/fonts/Omnes/omnes-webfont.woff2') format('woff2'),
         url('../../assets/fonts/Omnes/Omnes.ttf') format('ttf'),
         url('../../assets/fonts/Omnes/omnes-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'omnes-bold';
    src: url('../../assets/fonts/Omnes/omnes_pro_bold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/Omnes/Omnes\ Pro\ Bold.otf') format('otf'),
         url('../../assets/fonts/Omnes/omnes_pro_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.font-chukfive{
    font-family: 'Chunkfive' !important;
}

.font-toybox{
    font-family: 'toybox' !important;
}

*{
    font-family: 'omnes' !important;
}

.font-omnes{
    font-family: 'omnes' !important;
}

.font-omnesBold{
    font-family: 'omnes-bold' !important;
}

h1, h2, h3, h4, h5,
p, span, label, div{
    font-family: 'omnes', sans-serif !important;
}
