footer{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        height: 55%;
        @media (max-width: 768px){
            width: 80%;
            height: auto;
        }
    }
}